<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <listeners>
      <listener class-name="Ralphs.listeners"></listener>
  
  </listeners>
  
  
  <test name="Validating Home Page Landing">
     <classes><class name="Ralphs.HomePage"></class>
     </classes>
  </test> <!-- Test -->


  <test name="Search Result Testing">
     <classes><class name="Ralphs.HomePage"></class>
     </classes>
  </test> <!-- Test -->


</suite> <!-- Suite -->

