<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <listeners>
      <listener class-name="Ralphs.listeners"></listener>
  </listeners>
  

  <test name="HomePageTesting">
     <classes><class name="Ralphs.HomePage"></class>
     </classes>
  </test> 
  
  <test name="CreateAccountPageTesting">
  <classes><class name="Ralphs.CreateAccountTest"></class>
  </classes>
  </test>
  
   <test name="RecipiePageTesting">
  <classes><class name="Ralphs.RecipiePageTest"></class>
  </classes>
  </test>
  

</suite> <!-- Suite -->

